### Targets ###

[targets.personal]
type = 'gmail'
credentials = '/path/to/personal-credentials.json'

[targets.work]
type = 'gmail'
credentials = '/path/to/work-credentials.json'

### Sources ###

[sources.lkml]
feed = 'https://lore.kernel.org/lkml'
target = 'work'
labels = ['Lists/LKML']

[sources.linux-doc]
feed = 'https://lore.kernel.org/linux-doc'
target = 'work'
labels = ['Lists/Docs']

[sources.git]
feed = 'https://lore.kernel.org/git'
target = 'personal'
labels = ['INBOX', 'UNREAD']

# [sources.lei-mentions]
# feed = 'lei:/home/user/lei/mentions'
# target = 'work'
# labels = ['INBOX', 'UNREAD']
